
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block metatags
  meta(property='og:title', content=page.title)
  meta(property='og:type', content='article')
  meta(property='og:description', content=page.metadata.intro)
  meta(property='og:url', content=locals.url+""+page.url)
  meta(property='og:image' content=locals.profileImage)
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@'+locals.social.twitter)
  meta(name='twitter:title', content=locals.name)
  meta(name='twitter:description', content=page.metadata.intro)
  meta(name='twitter:creator', content='@'+locals.social.twitter)
  meta(name='twitter:image:src', content=locals.profileImage)
  meta(name='twitter:domain', content=locals.domain)


block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav
    a(href=contents.index.url) « Full blog