extends layout

block metatags
  meta(property='og:title', content=locals.name)
  meta(property='og:type', content='website')
  meta(property='og:description', content=locals.description)
  meta(property='og:url', content=locals.url)
  meta(property='og:image' content=locals.profileImage)
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@'+locals.social.twitter)
  meta(name='twitter:title', content=locals.name)
  meta(name='twitter:description', content=locals.description)
  meta(name='twitter:creator', content='@'+locals.social.twitter)
  meta(name='twitter:image:src', content=locals.profileImage)
  meta(name='twitter:domain', content=locals.domain)

block customcss
  link(rel='stylesheet', href='/css/main.css')

block content
  include author
  each article in articles
    article.article
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
        section.content!= typogr(article.html).typogrify()

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »